# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data_to_load = "../output_data/cities.csv"
weather_data = pd.read_csv(weather_data_to_load)
cleaned_weather_data = weather_data.dropna()
del cleaned_weather_data["Unnamed: 0"]
cleaned_weather_data.head(20)

,City,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Puerto escondido,5,70,15.85,-97.07,84.20,17.22
1,Jamestown,90,75,42.10,-79.24,44.60,10.29
2,San luis,100,50,-33.30,-66.34,69.64,15.88
3,Ribeira grande,51,62,38.52,-28.70,53.42,15.32
4,Qaanaaq,99,80,77.48,-69.36,4.77,7.20
5,Yaan,100,55,7.38,8.57,85.87,9.64
6,Port alfred,70,86,-33.59,26.89,70.68,12.17
7,Dali,0,39,25.70,100.18,48.76,3.56
8,Georgetown,20,94,5.41,100.34,82.40,2.39
9,Kahului,40,77,20.89,-156.47,69.80,13.87
10,Burns lake,5,68,54.23,-125.75,30.87,3.24
11,Kapaa,90,78,22.08,-159.32,71.60,25.28
12,Ushuaia,100,80,-54.80,-68.30,49.68,6.71
13,Oranjemund,66,81,-28.55,16.43,65.10,12.68
14,Rikitea,73,82,-23.12,-134.97,77.83,13.02
15,Bathsheba,40,58,13.22,-59.52,84.20,21.92
16,Gibara,1,42,21.11,-76.13,88.88,8.55
17,Petropavlovsk-kamchatskiy,90,96,53.05,158.65,32.00,5.55
18,Bluff,80,79,-46.60,168.33,49.24,11.18
19,San cristobal,64,38,7.77,-72.22,83.07,1.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

locations = cleaned_weather_data[["Latitude", "Longitude"]].astype(float)
humidity = cleaned_weather_data["Humidity"].astype(float)

In [4]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=6)
fig = gmaps.figure()
fig.add_layer(heat_layer)
plt.savefig("VacationPy_Fig3")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_spot = pd.DataFrame(cleaned_weather_data, columns = ["City","Max Temp", "Wind Speed", "Cloudiness",'Latitude','Longitude','Humidity'])
max_temp = (ideal_spot["Max Temp"] <= 80) & (ideal_spot["Max Temp"] >= 70)
wind_speed = ideal_spot["Wind Speed"] < 10
cloudiness = ideal_spot["Cloudiness"] == 0
ideal_spot = ideal_spot[max_temp & wind_speed & cloudiness]
ideal_spot = ideal_spot.reset_index()
del ideal_spot["index"]
ideal_spot

        City  Max Temp  Wind Speed  Cloudiness  Latitude  Longitude  Humidity
0  Geraldton     75.20        6.93           0    -28.77     114.60        47
1  Inhambane     78.80        7.74           0    -23.86      35.38        83
2     Teknaf     71.98        4.45           0     20.86      92.31        85
3     Ca mau     77.14        6.82           0      9.18     105.15        85
4      Akyab     73.38        6.82           0     20.15      92.90        86
5  Phulabani     76.86        2.37           0     20.47      84.23        36

In [6]:
vacation_locations = ideal_spot[["Latitude", "Longitude"]].astype(float)
vacation_humidity = ideal_spot["Humidity"].astype(float)
vacation_fig = gmaps.figure()
vacation_heat_layer = gmaps.heatmap_layer(vacation_locations, weights=vacation_humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=10)

vacation_fig.add_layer(vacation_heat_layer)
plt.savefig("VacationPy_Fig1")
vacation_fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
cities = list(ideal_spot["City"])
cities

['Geraldton', 'Inhambane', 'Teknaf', 'Ca mau', 'Akyab', 'Phulabani']

In [8]:
g_key

'AIzaSyDVkcwT92OuDTFVr4yTvi8AdWTrRZnUx7M'

In [9]:
ideal_spot

        City  Max Temp  Wind Speed  Cloudiness  Latitude  Longitude  Humidity
0  Geraldton     75.20        6.93           0    -28.77     114.60        47
1  Inhambane     78.80        7.74           0    -23.86      35.38        83
2     Teknaf     71.98        4.45           0     20.86      92.31        85
3     Ca mau     77.14        6.82           0      9.18     105.15        85
4      Akyab     73.38        6.82           0     20.15      92.90        86
5  Phulabani     76.86        2.37           0     20.47      84.23        36

In [10]:
ideal_spot

        City  Max Temp  Wind Speed  Cloudiness  Latitude  Longitude  Humidity
0  Geraldton     75.20        6.93           0    -28.77     114.60        47
1  Inhambane     78.80        7.74           0    -23.86      35.38        83
2     Teknaf     71.98        4.45           0     20.86      92.31        85
3     Ca mau     77.14        6.82           0      9.18     105.15        85
4      Akyab     73.38        6.82           0     20.15      92.90        86
5  Phulabani     76.86        2.37           0     20.47      84.23        36

In [11]:
ideal_spot_df =ideal_spot.groupby(['City']).sum()
ideal_spot_df = ideal_spot_df.sort_values(['Max Temp'], ascending = False)
new_rank = [1,2,3,4,5,6]
ideal_spot_df['Best Temp. Location'] = new_rank
ideal_spot_df=ideal_spot_df.reset_index()
ideal_spot_df

,City,Max Temp,Wind Speed,Cloudiness,Latitude,Longitude,Humidity,Best Temp. Location
0,Inhambane,78.80,7.74,0,-23.86,35.38,83,1
1,Ca mau,77.14,6.82,0,9.18,105.15,85,2
2,Phulabani,76.86,2.37,0,20.47,84.23,36,3
3,Geraldton,75.20,6.93,0,-28.77,114.60,47,4
4,Akyab,73.38,6.82,0,20.15,92.90,86,5
5,Teknaf,71.98,4.45,0,20.86,92.31,85,6

In [12]:
hotels = []
for i in range(0,6):
    latitude = ideal_spot_df.iloc[i]['Latitude']
    longitude = ideal_spot_df.iloc[i]['Longitude']
    params = {
        "location": f"{latitude},{longitude}", 
        "keyword": "hotel",
        "key": g_key,
        "radius":5000
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotel_request = requests.get(base_url, params=params)
    hotel_response = hotel_request.json()
    try:
        hotels.append(hotel_response["results"][0]["name"])
    except:
        hotels.append(print(hotel_response))
        pass
ideal_spot_df["Nearest Hotel"] = hotels
ideal_spot_df=ideal_spot_df.reset_index(drop=True)
ideal_spot_df

,City,Max Temp,Wind Speed,Cloudiness,Latitude,Longitude,Humidity,Best Temp. Location,Nearest Hotel
0,Inhambane,78.80,7.74,0,-23.86,35.38,83,1,Hotel Casa Do Capitão
1,Ca mau,77.14,6.82,0,9.18,105.15,85,2,Internationnal hotel
2,Phulabani,76.86,2.37,0,20.47,84.23,36,3,Hotel KP's Salunki
3,Geraldton,75.20,6.93,0,-28.77,114.60,47,4,1850's Stone Cottage
4,Akyab,73.38,6.82,0,20.15,92.90,86,5,Yuzana Aung Hotel
5,Teknaf,71.98,4.45,0,20.86,92.31,85,6,Central Resort Ltd.

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Nearest Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in ideal_spot_df.iterrows()]

In [14]:
vacation_hotel = ideal_spot_df["Nearest Hotel"].tolist() 
marker_locations  = ideal_spot_df[["Latitude", "Longitude"]]
vacationfig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations, info_box_content=hotel_info)
vacation_fig.add_layer(markers)
plt.savefig("Vacation_Fig2")
vacation_fig

Figure(layout=FigureLayout(height='420px'))